:root{
    --dashboard-background: url("https://images.unsplash.com/photo-1640725804478-ebf80960a3f4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));


    --primary: #050505;
    --background: #888fa3;
    --background-secondary: #707686b1;
    --titles: #514ba6ce;
    --white: #ffffff;
}

body*+*{
    margin-top: var(--s-2);
}

h1{
    font-size: var(--s3);
}

h2{
    font-size: var(--s1);
}

h3{
    font-size: var(--s-1);
}
/*Title color*/
.st-emotion-cache-pgf13w{
    background-color: var(--background-secondary);
}
/*Main background*/
.stAppViewMain{
    background-color: var(--background);
}
/*The metric color*/
[data-testid="stHorizontalBlock"]{
    background-color: var(--white);
}
/*Transparency for the split columns on page kpi*/
.st-emotion-cache-434r0z.e1f1d6gn5 {
    background-color: transparent;
}
